body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #adb6c4;
    color: white !important;
    text-shadow: 2px 2px #294c60;
    font-weight: bold;
}

header {
    height: 3rem;
    position: fixed;
    inset: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 4px solid #ff9633;
}

h1 {
    color: black;
    text-shadow: 2px 2px #adb6c4;
}


.container {
    margin-top: 5rem;
}


.squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background-color: #294c60;
    border: 3px solid black;
}

.square:hover {
    scale: 1.2;
}


.square.fizzbuzz {
    background-color:darkred ;
}


.square.fizzbuzz:hover {
    scale: 2;
}

.square.buzz {
    background-color:khaki ;
}

.square.fizz {
    background-color: #ff9633;

}



.hidden {
    display: none;
}

button {
    border-radius: 20px;
    color: white;
    text-shadow: 2px 2px #294c60;
    background-color: #ff9633;
    position: absolute;
    top: 70px;
    right: 20px;

}





