body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: crimson;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.squares {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: coral;
}